{% extends "base.html" %}

{% block content %}
<!-- ============ Body content start ============= -->
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<div class="main-content">
    <div class="breadcrumb">
        <h1>编辑业务组</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- content goes here-->
    <div class="col-lg-6 col-xl-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="businessGroupId">业务组ID</label>
                        <input class="form-control" id="businessGroupId" type="tel" aria-describedby="emailHelp" placeholder={{business_id}} disabled/>
                    </div>
                    <form method="POST" id="editForm">
                        {% csrf_token %}
                        {{form.as_p}}
                    </form>
                    <button id="submitButton" class="btn btn-primary">提交</button>
                    <button id="deleteButton" class="btn btn-danger" style="float:right" href="../{{business_id}}/delete">删除</button>
                </div>
            </div>
        </div>
</div>
<script>
$(document).ready(function(){
  $("#submitButton").click(function(){
    $("#editForm").submit();
  });

  $("#deleteButton").click(function(){
    if(confirm("确定要删除该项吗?")){
        var el = $(this);
        var link = el.attr('href');
        window.location = link;
    }
  });

});  
</script>
{% endblock %}