{% extends "base.html" %}

{% block content %}
<!-- ============ Body content start ============= -->
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<div class="main-content">
    <div class="breadcrumb">
        <h1>文件管理</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- content goes here-->
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <p>文件列表</p>
                    <div class="table-responsive">
                        <table class="display table table-striped table-bordered" id="zero_configuration_table"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>文件名</th>
                                    <th>加密密钥</th>
                                    <th>上传时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if files %}
                                {% for item in files %}
                                <tr>
                                    <td id="id{{item.id}}">{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.key.name}}</td>
                                    <td>{{item.upload_time}}</td>
                                    <td>
                                        <button class="btn btn-danger" href="../{{item.id}}/delete">删除</button> |
                                        <button class="btn btn-primary" href="../{{item.id}}/download">下载</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".btn.btn-danger").click(function () {
            if (confirm("确定要删除该文件吗?")) {
                var el = $(this);
                var link = el.attr("href");
                window.location = link;
            }
        });
        $(".btn.btn-primary").click(function () {
            var el = $(this);
            var link = el.attr("href");
            window.location = link;
        });
    });
</script>
{% endblock %}