{% extends "base.html" %}

{% block content %}
<!-- ============ Body content start ============= -->
<div class="main-content">
    <div class="breadcrumb">
        <h1>上传文件</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- content goes here-->
    <div class="col-lg-6 col-xl-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <form method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary" type="submit">提交</button>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}