{% extends "base.html" %}

{% block content %}
<!-- ============ Body content start ============= -->
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<div class="main-content">
    <div class="breadcrumb">
        <h1>密钥管理</h1>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <!-- content goes here-->
    <div class="row mb-4">
        <div class="col-md-12 mb-4">
            <div class="card text-left">
                <div class="card-body">
                    <p>密钥列表</p>
                    <div class="table-responsive">
                        <table class="display table table-striped table-bordered" id="zero_configuration_table"
                            style="width:100%">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>密钥Hash</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if keys %}
                                {% for item in keys %}
                                <tr>
                                    <td id="id{{item.id}}">{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.value}}</td>
                                    <td>
                                        <button key_id="{{item.id}}" class="btn btn-danger"
                                            href="../{{item.id}}/delete">删除密钥</button>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            var link = $(this).attr('href');
            var key_id = $(this).attr("key_id");
            var url = '/key/' + key_id + '/get-file-list';
            var file_list = '';
            $.getJSON(url, function (data, status) {
                if (status == 'success') {
                    for (var i = 0; i < data['message'].length; i++) {
                        if (i) {
                            file_list += '\n' + (i+1) + '.' + data['message'][i];
                        }
                        else {
                            file_list += (i+1) + '. ' + data['message'][i];
                        }
                    }
                    console.log(file_list);
                    if (file_list) {
                        msg = '删除该密钥将会级联删除由其加密的文件:\n' + file_list + '\n这一过程不可恢复! 确定要删除吗?';
                    }
                    else {
                        msg = '即将删除密钥, 该过程不可恢复! 确定要删除吗?';
                    }
                    if (confirm(msg)) {
                        window.location = link;
                    }
                }
            });
        });
    });
</script>
{% endblock %}