{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>EncryptCloud | 分布式文件加密存储</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/lite-purple.min.css" %}">
</head>
<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-large">
        <div class="main-header">
            <a href="../../files">
                <div class="logo">
                    <img src="{% static "/img/logo.png" %}" alt="logo">
                </div>
            </a>
            <div class="menu-toggle">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div style="margin: auto"></div>
            <div class="header-part-right">
                <!-- User avatar dropdown -->
                <div class="dropdown">
                    <div class="user col align-self-end">
                        <img src="{% static "img/profile.png"%}" id="userDropdown" alt="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-content-wrap">
            <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
                <ul class="navigation-left">
                    <li class="nav-item" data-item="keymanage"><a class="nav-item-hold" href="#"><span class="nav-text">密钥管理</span></a>
                        <div class="triangle"></div>
                    </li>
                    <li class="nav-item" data-item="filemanage"><a class="nav-item-hold" href="#"><span class="nav-text">文件管理</span></a>
                        <div class="triangle"></div>
                    </li>
                </ul>
            </div>
            <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
                <!-- Submenu Dashboards-->
                <ul class="childNav" data-parent="keymanage">
                    <li class="nav-item"><a href="/key/manage"><i class="nav-icon i-File-Clipboard-Text--Image"></i><span class="item-name">密钥列表</span></a></li>
                    <li class="nav-item"><a href="/key/add"><i class="nav-icon i-File-Clipboard-Text--Image"></i><span class="item-name">添加密钥</span></a></li>
                </ul>   
                <ul class="childNav" data-parent="filemanage">
                    <li class="nav-item"><a href="/files/manage "><i class="nav-icon i-File-Clipboard-Text--Image"></i><span class="item-name">文件管理</span></a></li>
                    <li class="nav-item"><a href="/files/upload "><i class="nav-icon i-File-Clipboard-Text--Image"></i><span class="item-name">文件上传</span></a></li>
                </ul>
            </div>
            <div class="sidebar-overlay"></div>
        </div>
        <!-- =============== Left side End ================-->
        <div class="main-content-wrap sidenav-open d-flex flex-column">
        {% block content %} {% endblock %}
            <!-- Footer Start -->
            <div class="flex-grow-1"></div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-md-9">
                        <p><strong>EncryptCloud | 分布式文件加密存储</strong></p>
                        <p>EncryptCloud 分布式文件加密存储 本系统使用门限算法生成密钥。用户可将文件上传至本系统，本系统将使用AES加密算法加密文件并存储至分布式存储节点。
                        </p>
                    </div>
                </div>
            </div>
            <!-- fotter end -->
            <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
            <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
            <script src="{% static "js/perfect-scrollbar.min.js" %}"></script>
            <script src="{% static "js/script.min.js" %}"></script>
            <script src="{% static "js/sidebar.large.script.min.js" %}"></script>
            <script src="{% static "js/echarts.min.js" %}"></script>
            <script src="{% static "js/echart.options.min.js" %}"></script>
            <script src="{% static "js/datatables.min.js" %}"></script>
            <script src="{% static "js/dashboard.v4.script.min.js" %}"></script>
            <script src="{% static "js/widgets-statistics.min.js" %}"></script>
            <script src="{% static "js/apexcharts.min.js" %}"></script>
            <script src="{% static "js/apexSparklineChart.script.min.js" %}"></script>
            </div>
    </div>
</body>

</html>